{
  "global": {
    "parseVersion": "1.5.0"
  },
  "applications": {
    "<YOUR_APPLICATION_NAME>": {
      "applicationId": "<YOUR_APPLICATION_ID>",
      "masterKey": "<YOUR_MASTER_KEY>"
    },
    "_default": {
      "link": "<YOUR_APPLICATION_NAME>"
    }
  }
}
